*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
ul{
    list-style:none;
}
/* Start Navbar */
.navigator{
    background:#333;
    color:#EEE;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.navigator h2{
    font-family:'KoHo',Arial,sans-serif;
    text-transform:capitalize;
    font-weight:bold;
    font-size:23px;
    padding:10px;
    flex-shrink:0;
}
.navigator .nav-list li{
    display:inline-block;
    padding-top: 10px;;
}
.navigator .nav-list li a{
    padding:10px;
    text-transform:uppercase;
    margin-left:5px;
    font-family:"KoHo",Tahoma,sans-serif;
    color:#EEE
}
.navigator .nav-list li a:hover{
    text-decoration:none;
}
.navigator .nav-list li a i{
    margin-right:5px;
}
.navigator .nav-list .responsive-nav-button{
    display:none;
    cursor:pointer;
}
.dropdown-menu .dropdown-item a{
    color:#333;
    margin-bottom:5px;
    text-transform:uppercase;
}
.dropdown-menu .dropdown-item a i{
    margin-right:5px;
}
/* End Navbar */
/* Start first-section */
#demo{
    height:93vh;
    background:url(../img/002.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
}
#demo::before{
    position:absolute;
    content:'';
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.68);
}
#demo .carousel-item .intro{
    text-align:center;
    margin-top:250px;
    margin-left: auto;
    margin-right: auto;
}
#demo .carousel-item .intro h2{
    color:#EEE;
    font-family:'KoHo', Arial, sans-serif;
    text-transform:capitalize;
}
#demo .carousel-item .intro p{
    color:rgb(231, 83, 15);
    font-size:22px;
    text-transform: uppercase;
    letter-spacing:1.5px;
    font-weight:bold
}
#demo .carousel-item .intro button{
    padding:8px;
    text-transform:capitalize;
    font-family:'KoHo', Arial, Tahoma, sans-serif;
    border-radius:4px;
    border:0px;
    font-size:19px;
    outline:none;
}
/* End first-section */
/* Start skills-section */
#demo .carousel-item .skills{
    margin: 80px auto;
}
#demo .carousel-item .skills h2{
    color:rgb(231, 83, 15);
    font-family:'KoHo', Tahoma, Geneva, Verdana, sans-serif;
    text-transform:uppercase;
    font-weight:bold;
}
#demo .carousel-item .progress-1,
#demo .carousel-item .progress-2,
#demo .carousel-item .progress-3,
#demo .carousel-item .progress-4,
#demo .carousel-item .progress-5,
#demo .carousel-item .progress-6,
#demo .carousel-item .progress-7{
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
}
#demo .carousel-item .progress-1 .text,
#demo .carousel-item .progress-2 .text,
#demo .carousel-item .progress-3 .text,
#demo .carousel-item .progress-4 .text,
#demo .carousel-item .progress-5 .text,
#demo .carousel-item .progress-6 .text,
#demo .carousel-item .progress-7 .text{
    color:#EEE;
    font-family:Tahoma,Arial,sans-serif;
    text-transform:uppercase;
}
#demo .carousel-item .progress-1 .progress-bar,
#demo .carousel-item .progress-2 .progress-bar,
#demo .carousel-item .progress-3 .progress-bar,
#demo .carousel-item .progress-4 .progress-bar,
#demo .carousel-item .progress-5 .progress-bar,
#demo .carousel-item .progress-6 .progress-bar,
#demo .carousel-item .progress-7 .progress-bar{
    position: relative;
}
#demo .carousel-item .progress-1 .progress-bar::before,
#demo .carousel-item .progress-2 .progress-bar::before,
#demo .carousel-item .progress-3 .progress-bar::before,
#demo .carousel-item .progress-4 .progress-bar::before,
#demo .carousel-item .progress-5 .progress-bar::before,
#demo .carousel-item .progress-6 .progress-bar::before,
#demo .carousel-item .progress-7 .progress-bar::before{
    position: absolute;
    top: 8px;
    color:#EEE
}
#demo .carousel-item .progress-1 .progress-bar::before{
    content: '95%';
    left: 50%;
}
#demo .carousel-item .progress-2 .progress-bar::before{
    content: '90%';
    left: 53%;
}
#demo .carousel-item .progress-3 .progress-bar::before{
    content: '75%';
    left: 64%;
}
#demo .carousel-item .progress-4 .progress-bar::before{
    content: '80%';
    left: 60%;
}
#demo .carousel-item .progress-5 .progress-bar::before{
    content: '80%';
    left: 60%;
}
#demo .carousel-item .progress-6 .progress-bar::before{
    content: '85%';
    left: 56.6%;
}
#demo .carousel-item .progress-7 .progress-bar::before{
    content: '75%';
    left: 64.2%;
}
/* End skills-section */
/* Start about-section */
#demo .carousel-item .about{
    margin:80px auto;
}
#demo .carousel-item .about h2{
    color:rgb(231, 83, 15);
    font-family:'KoHo', Tahoma, Arial, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
}
#demo .carousel-item .about .start-about{
    display: flex;
    justify-content:space-between;
}
#demo .carousel-item .about .start-about span{
    color: #EEE;
    font-family: 'KoHo', Tahoma, sans-serif;
    line-height: 3;
    font-size: 20px;
}
#demo .carousel-item .about .start-about img{
    height: 321px;
    border-radius: 4px;
    width: 82%;
    display: block;
    margin: 5px auto;
}
/* End about-section */
/* Start portfolio-section */
#demo .carousel-item .portfolio{
    margin: 80px auto;
}
#demo .carousel-item .portfolio h2{
    color:rgb(231, 83, 15);
    font-family:'KoHo',Tahoma,sans-serif;
    text-transform:uppercase;
    font-weight:bold;
}
#demo .carousel-item .portfolio .start-portfolio{
    display:flex;
    justify-content:space-between;
}
#demo .carousel-item .portfolio .portfolio-1 img,#demo .carousel-item .portfolio .portfolio-2 img,#demo .carousel-item .portfolio .portfolio-3 img{
    width:200px;
    height: 300px;
}
#demo .carousel-item .portfolio-1 .portfolio-1-btns, 
#demo .carousel-item .portfolio-2 .portfolio-2-btns, 
#demo .carousel-item .portfolio-3 .portfolio-3-btns{
    text-align: center;
    margin-top: 4px;
} 
/* End portfolio-section */
/* Start contact-section */
#demo .carousel-item .contact{
    margin: 80px auto;
}
#demo .carousel-item .contact h2{
    color:rgb(231, 83, 15);
    font-weight:bold;
    font-family:'KoHo',Arial,Tahoma,sans-serif;
    text-transform:uppercase;
}
#demo .carousel-item .contact .start-contact form > div{
    display:flex;
    justify-content:space-between;
    margin-bottom: 30px;
}
#demo .carousel-item .contact .start-contact form div label{
    color:#EEE;
    font-size:18px;
    font-family:'KoHo', Arial, sans-serif;
}
#demo .carousel-item .contact .start-contact form div input, textarea{
    width: 280px;
    padding:8px;
    outline:none;
    border-radius:5px;
    border:0px;
}
#demo .carousel-item .contact .start-contact form div textarea{
    resize:none;
    height: 125px;;
}
/* End contact-section */


/*Start intro outside*/
.intro-cont{
    display: none;
}
.intro-cont .intro{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 250px;
}
.intro-cont .intro h2{
    color:#EEE;
    font-family:'KoHo', Arial, sans-serif;
    text-transform:capitalize;
}
.intro-cont .intro p{
    color:rgb(231, 83, 15);
    font-size:22px;
    text-transform: uppercase;
    letter-spacing:1.5px;
    font-weight:bold
}
.intro-cont .intro button{
    padding:8px;
    text-transform:capitalize;
    font-family:'KoHo', Arial, Tahoma, sans-serif;
    border-radius:4px;
    border:0px;
    font-size:19px;
    outline:none;
}
/*End intro outside*/


/*Start skills outside*/
.skills{
    margin: 115px auto;
}
.skills h2{
    color:rgb(231, 83, 15);
    font-family:'KoHo', Tahoma, Geneva, Verdana, sans-serif;
    text-transform:uppercase;
    font-weight:bold;
}
.skills .progress{
    width: 35%;
}
.progress-1,
.progress-2,
.progress-3,
.progress-4,
.progress-5,
.progress-6,
.progress-7{
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
}
.progress-1 .text,
.progress-2 .text,
.progress-3 .text,
.progress-4 .text,
.progress-5 .text,
.progress-6 .text,
.progress-7 .text{
    color:#000;
    font-family:Tahoma,Arial,sans-serif;
    text-transform:uppercase;
}
.progress-1 .progress-bar,
.progress-2 .progress-bar,
.progress-3 .progress-bar,
.progress-4 .progress-bar,
.progress-5 .progress-bar,
.progress-6 .progress-bar,
.progress-7 .progress-bar{
    position: relative;
}
.progress-1 .progress-bar::before,
.progress-2 .progress-bar::before,
.progress-3 .progress-bar::before,
.progress-4 .progress-bar::before,
.progress-5 .progress-bar::before,
.progress-6 .progress-bar::before,
.progress-7 .progress-bar::before{
    position: absolute;
    top: 8px;
    color:#EEE
}
.progress-1 .progress-bar::before{
    content: '95%';
    left: 50%;
}
.progress-2 .progress-bar::before{
    content: '90%';
    left: 53%;
}
.progress-3 .progress-bar::before{
    content: '75%';
    left: 64%;
}
.progress-4 .progress-bar::before{
    content: '80%';
    left: 60%;
}
.progress-5 .progress-bar::before{
    content: '80%';
    left: 60%;
}
.progress-6 .progress-bar::before{
    content: '85%';
    left: 56.6%;
}
.progress-7 .progress-bar::before{
    content: '75%';
    left: 64.2%;
}
/* End Skills outside */
/* Start about outside */
.about-cont{
    background:#333;
    height:80vh;
}
.about-cont .about{
    margin:80px auto 0;
    padding: 116px 0 0;
}
.about-cont .about h2{
    color:rgb(231, 83, 15);
    font-family:'KoHo', Tahoma, Arial, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
}
.about-cont .about .start-about{
    display: flex;
    justify-content:space-between;
}
.about-cont .about .start-about span{
    color: #EEE;
    font-family: 'KoHo', Tahoma, sans-serif;
    line-height: 3;
    font-size: 20px;
}
.about-cont .about .start-about img{
    height: 321px;
    border-radius: 4px;
    width: 82%;
    display: block;
    margin: 5px auto;
}
/* End about outside */
/* Start portfolio outside */
.portfolio-cont .portfolio{
    margin: 0 auto;
    padding: 145px 0;
}
.portfolio-cont .portfolio h2{
    color:rgb(231, 83, 15);
    font-family:'KoHo',Tahoma,sans-serif;
    text-transform:uppercase;
    font-weight:bold;
}
.portfolio-cont .portfolio .start-portfolio{
    display:flex;
    justify-content:space-between;
}
.portfolio-cont .portfolio .portfolio-1 img,.portfolio .portfolio-2 img,.portfolio .portfolio-3 img{
    width:200px;
    height: 300px;
}
.portfolio-cont .portfolio-1 .portfolio-1-btns, 
.portfolio-cont .portfolio-2 .portfolio-2-btns, 
.portfolio-cont .portfolio-3 .portfolio-3-btns{
    text-align: center;
    margin-top: 4px;
}
/* End portfolio outside */
/* Start contact outside */
.contact-cont{
    background:#333;
    
}
.contact-cont .contact{
    margin: 0px auto;
    padding:145px 0
}
.contact-cont .contact h2{
    color:rgb(231, 83, 15);
    font-weight:bold;
    font-family:'KoHo',Arial,Tahoma,sans-serif;
    text-transform:uppercase;
}
.contact-cont .contact .start-contact form > div{
    display:flex;
    justify-content:space-between;
    margin-bottom: 30px;
}
.contact-cont .contact .start-contact form div label{
    color:#EEE;
    font-size:18px;
    font-family:'KoHo', Arial, sans-serif;
}
.contact-cont .contact .start-contact form div input, textarea{
    width: 280px;
    padding:8px;
    outline:none;
    border-radius:5px;
    border:0px;
}
.contact-cont .contact .start-contact form div textarea{
    resize:none;
    height: 125px;;
}
.contact-cont .contact .start-contact form input[type="submit"]{
    float: right;
}
/* End contact outside */
@media(min-width:500px) And (max-width:725px){
    .navigator{
        justify-content: space-between;
    }
    .navigator .nav-list li a{
        display:none;
    }
    .navigator .nav-list .responsive-nav-button{
        display:inline-block;
        margin-right:20px;
        position: relative;
        top: -11px;
    }
    .dropdown-menu{
        transform: translate3d(300px, 37px, 0px);
    }
    .intro-cont{
        display: block;
    }
    #indicators{
        display: none;
    }
    .carousel-inner{
        display: none;
    }
    a[data-slide='prev'], a[data-slide='next']{
        display: none;;
    }
    #skills{
        margin: 5px auto;
    }
    #skills .progress{
        width: 56%;
    }
    .about-cont .about{
        padding:6px 5px 0;
    }
    .about-cont .about .start-about{
        flex-direction: column;
    }
    .about-cont .about .start-about span{
        line-height: 1.4;
        font-size:19px;
    }
    .portfolio-cont .portfolio{
        padding:17px 0 17px
    }
    .portfolio-cont .portfolio .start-portfolio{
        flex-direction: column;
        align-items: center;
    }
    .contact-cont .contact{
        padding: 9px 0;
    }
    .contact-cont .contact .start-contact form > div{
        flex-direction: column;
        align-items: center;
    }
    .contact-cont .contact .start-contact form input[type="submit"]{
        float: inherit;
        display: block;
        margin: 0 auto;
    }
}
@media(min-width:300px) And (max-width:390px){
    .navigator{
        justify-content: space-between;
    }
    .navigator .nav-list li a{
        display:none;
    }
    .navigator .nav-list .responsive-nav-button{
        display:inline-block;
        margin-right:20px;
        position: relative;
        top: -11px;
    }
    .dropdown-menu{
        transform: translate3d(300px, 37px, 0px);
    }
    .intro-cont{
        display: block;
    }
    #indicators{
        display: none;
    }
    .carousel-inner{
        display: none;
    }
    a[data-slide='prev'], a[data-slide='next']{
        display: none;;
    }
    #skills{
        margin: 5px auto;
    }
    #skills .progress{
        width: 56%;
    }
    .about-cont .about{
        padding:6px 5px 0;
    }
    .about-cont .about .start-about{
        flex-direction: column;
    }
    .about-cont .about .start-about span{
        line-height: 2;
        font-size:19px;
    }
    .about-cont .about .start-about img{
        display: none;
    }
    .portfolio-cont .portfolio{
        padding:17px 0 17px
    }
    .portfolio-cont .portfolio .start-portfolio{
        flex-direction: column;
        align-items: center;
    }
    .contact-cont .contact{
        padding: 9px 0;
    }
    .contact-cont .contact .start-contact form > div{
        flex-direction: column;
        align-items: center;
    }
    .contact-cont .contact .start-contact form input[type="submit"]{
        float: inherit;
        display: block;
        margin: 0 auto;
    }
}